* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c0e7ff;
}

.calender {
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #fff5d2;
}

.left, .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}

.right {
    width: 42%;
    background: #ff9d35 ;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left {
    width: 58%;
}

#date {
    font-size: 100px;
    line-height: 90px;
}
