* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    background: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.calculator {
    padding: 20px;
    background: black;
    border-radius: 10px;
}

.calculator form input {
    width: 65px;
    height: 65px;
    font-size: 20px;
    background: #333333;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 10px;
    padding: 5px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.zero {
    width: 156px;
}

form input.op {
    background: #ff9501 ;
}

form input.other {
    background: #a6a6a6 ;
    color: black;
}
