* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    background: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.calculator {
    padding: 20px;
    background: black;
    border-radius: 10px;
}

.calculator form input {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}
