body {
    background: #deafff;
    font-family: sans-serif;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background: #55bed6;
    text-align: center;
    padding: 40px 0;
    color: white;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
