*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #ffd0d5;
  color: grey;
  line-height: 1.5;
  font-size: 0.875rem;
}

h3 {
    font-family: sans-serif;
    font-size: 25px;
}
.section {
    padding: 5rem 0;
  }
  
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 35rem;
    margin-top: 8rem;
}
@media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.grocery-form h3 {
    color: black;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-control {
    display: flex;
    justify-content: center;
}

#grocery {
    padding: 0.25rem;
    padding-left: 1rem;
    background: white;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    color: rgb(0, 0, 0);
}
#grocery::placeholder {
    font-family: sans-serif;
    color: rgb(201, 201, 201);
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.btn:hover {
    color: white;
    background: black;
} 

.submit-btn {
    background: #65ff89;
    border-color: transparent;
    flex: 0 0 5rem;
    display: grid;
    align-items: center;
    padding: 0.25rem;
    text-transform: capitalize;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    content: #49a6e9;
    transition: all 0.3s linear;
    font-size: 13px;
}
.submit-btn:hover {
    background: #41a458;
    color: white;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}
.alert-success {
    color: #155724;
    background: #d4edda;
}

.grocery-container {
    margin-top: 2rem;
    visibility: hidden;
}
.show-container {
    visibility: visible;
}

.title {
    margin-bottom: 0;
    color: black;
    transition: all 0.3s linear;
}

.clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: grid;
    align-items: center;
    background: #f22438;
    border-color: transparent;
    color: white;
    margin: 0 auto;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-top: 1.25rem;
    border-radius: 10px;
}
.clear-btn:hover {
    color: #000;

}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 22px;
  margin: 0 0.15rem;
  transition: all 0.3s linear;
}
.edit-btn {
  color: lightgreen;
}
.edit-btn:hover {
  color: darkgreen;
}
.delete-btn {
  color: rgb(255, 106, 128);
}
.delete-btn:hover {
  color: red;
}
