/*Google Fonts - Inter*/

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eeeeef, #c8c7ff);
}

.chatbot-popup {
    width: 420px;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rbga(0,0,0,0.5);
}
.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 22px;
    background: rgb(110, 161, 232);
}

.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info .chatbot-logo {
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    fill:  rgb(110, 161, 232);
    flex-shrink: 0;   
}
.header-info .logo-text {
    color: white;
    font-size: 1.31rem;
    font-weight: 600;
}
.chat-header #close-chatbot {
    border: none;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    transition: 0.2 ease;
}

.chat-header #close-chatbot:hover {
    background: #3c3aa3;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}
.chat-body .bot-message .bot-avatar {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #fff;
    margin-bottom: 2px;
    align-self: flex-end;
    flex-shrink: 0;
    background: #5350C4;
    border-radius: 50%;
}
.chat-body .message .message-text {
    padding: 12px 16px; 
    max-width: 75%;
    font-size: 0.95rem;
    background: #f2f2ff;
}
.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-footer {
    position: absolute;
}
